@import '~antd/dist/antd.less';

.title {
    font-family: 'Cinzel', serif;
    font-size: 5rem;
    padding: 3rem;
    // background-color: rgba(255, 255, 255, 0.25)
}

.titleContainer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    // background-attachment: fixed;
    background-attachment:scroll;
    background-size: cover;
    background-color: #CFBEAB;
}

.eventDetails {
    font-family: 'Cinzel', serif;
    font-size: 2rem;
    text-align: center;
    padding: 2rem;
}

.eventDetailsContainer {
    background-color: #E7DED4;
    padding: 2rem;
}

.subtitle {
    font-family: 'Cinzel', serif;
    font-size: 2rem;
    height: 50vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

span {
    font-family: 'Sacramento', cursive;
}

.date {
    font-weight: bold;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1rem;
    font-family: 'Cinzel', serif;
}

p {
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;

}

.pageTitle {
    text-align: center;
    font-size: 3rem;
    font-family: 'Cinzel', serif;
}

.bold {
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

a:hover {
    font-weight: bold;
}

.bottomPhoto {
    background-repeat: no-repeat;
    background-position: center;
    // background-attachment: fixed;
    background-attachment:scroll;
    background-size: cover;
    background-color: #CFBEAB;
    height: 90vh;
}
