@import '~antd/dist/antd.less';

body {
    font-family: 'Cormorant Unicase', serif;
}

.title {
    font-size: 5rem;
}

.subtitle {
    font-size: 2rem;
}

span {
    font-family: 'Sacramento', cursive;
}
